.header {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(41, 77, 119);
  border-radius: 20px;
  color: rgb(41, 77, 119);
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 2%;
  margin-top: 5%;
  padding: 5px 30px 7px;
  width: 320px;
}

.header-profile-picture {
  border: 1px solid rgb(41, 77, 119);
  border-radius: 50%;
  height: 8vh;
}
